__pycache__/
*.pyc
output/
storage/raw_gameplay/
storage/kokoro-v1.0.onnx
storage/voices-v1.0.bin
*.pkl
data/temas_pendientes.txt
data/temas_usados.txt
.env
!storage/voces/*.mp3
*.mp3
*.mp4
*.wav
*.aac
*.ass
